body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(https://wallpapercave.com/wp/QV9xjnE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border-radius: 12px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.panel h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.panel #nickname {
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    border-bottom: 3px solid white;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    outline: none;
    transition: transform 0.2s ease, border-color 0.3s;
    color: white;
}

.panel #nickname:focus {
    transform: scale(1.05);
    padding: 0px;
    margin: 0px;
    color: white;
}

.panel #nickname::placeholder {
    color: white;
}

.panel .buttoms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    padding-top: 4rem;
}

.panel .buttoms input {
    width: 7rem;
    height: 3rem;
    border-radius: 16px;
    color: white;
    background-color: #0f1d8a;
    outline: none;
    border: 2px solid white;
}

.panel .buttoms input:hover {
    transform: scale(1.05);
    cursor: pointer;
}