@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 40);
  font-family: "Lilita One", cursive;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
