.board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grid-bg);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    min-width: 450px;
}

.board .panel {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    background-color: var(--color-cell-border);
    padding: 2px;
    border-radius: 10px;
}