

.cell {
    width: 45px;
    aspect-ratio: 1 / 1;
    border: 2px solid gray;
    background: linear-gradient(45deg, #F0F0F0, white);
    box-shadow: 0 2px 0 rgb(191, 191, 191);
    border-radius: 0.3rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Lilita One", cursive;
}

.me {
    border: 3px solid rgb(27, 157, 222);
}

.opponent {
    border: 3px solid rgb(240, 125, 34);
}