.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup {
  background: #1c1c1c;
  color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 300px;
}

.warning {
  margin-bottom: 1rem;
  font-size: 2.1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.button {
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  padding: 0 1rem;
  font-weight: bold;
  font-size: clamp(15px, 3vw, 30px);
  white-space: nowrap;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.back {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}

.back:hover {
  border: 5px solid rgb(170, 47, 47);
}
.continue {
  background-color: rgb(21, 248, 29);
  border: 5px solid rgb(77, 255, 89);
  box-shadow: 0 6px 0 rgb(46, 138, 52);
}

.continue:hover {
  border: 5px solid rgb(0, 230, 17);
}
