.extraButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  height: min-content;
  margin: 0 auto;
  padding-bottom: 10px;
}

.spread {
  justify-content: space-between;
}

.button,
.switchView {
  height: 50px;
  flex: 1;
  max-width: 150px;
  min-width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0 0.2rem;
  font-family: "Lilita One", cursive;
  font-size: clamp(14px, 2.5vw, 24px);
  white-space: nowrap;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  outline: none;
  pointer-events: all;
  margin-top: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border: none;
}

.button:hover,
.button:focus,
.switchView:hover {
  transform: translateY(-2px);
}

.back {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}
.back:hover {
  border: 5px solid rgb(170, 47, 47);
}

.chat {
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
  position: relative;
}
.chat:hover {
  border: 5px solid rgb(22, 133, 186);
}

.switchView {
  background-color: rgb(21, 248, 29);
  border: 5px solid rgb(77, 255, 89);
  box-shadow: 0 6px 0 rgb(46, 138, 52);
}
.switchView:hover {
  border: 5px solid rgb(0, 230, 17);
}

.back .icon {
  width: 2.5rem;
  margin-right: 1.7rem;
  margin-left: -3rem;
}

.chat .icon {
  margin-right: 1.5rem;
  margin-left: -2rem;
}
.icon {
  width: 1.5rem;
}

.notificationDot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (width >= 551px) {
  .extraButtons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 98%;
    max-width: none;
    justify-content: space-between;
    gap: 0;
    margin: 0;
    padding-bottom: 0;
    pointer-events: none;
  }
  .spread {
    justify-content: space-between;
  }

  .button,
  .switchView {
    pointer-events: all;
    font-size: 1.5rem;
    height: 3.7rem;
    gap: 0.5rem;
    width: 200px;
    flex: initial;
  }

  .icon {
    width: 2rem;
  }

  .back .icon {
  margin-right: 0.3rem;
  margin-left: -2.5rem;

}

.chat .icon {
  margin-right: 1rem;
  margin-left: -2rem;
}
}
