@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.card {
  width: 18rem;
  height: min-content;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 1rem 0 1rem;
  justify-content: space-between;
  padding: 0.3rem;
}

.p1 {
  background: linear-gradient(45deg, rgb(27, 157, 222), rgb(31, 116, 158));
  border: 5px solid rgb(64, 176, 232);
  box-shadow: -5px 6px 0 rgb(57, 68, 148);
  text-align: start;
  flex-direction: row;
}

.p2 {
  background: linear-gradient(45deg, rgb(240, 125, 34), rgb(203, 104, 23));
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 5px 6px 0 rgb(148, 97, 57);
  flex-direction: row-reverse;
  text-align: end;
}

.avatarContainer {
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: conic-gradient(
    white calc(var(--progress, 0) * 360deg),
    var(--border-color, #4caf50) 0deg
  );
}

.avatarP1 {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(57, 68, 148);
}

.avatarP2 {
  width: 70px;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(148, 97, 57);
}

.infoContainer {
  width: 90%;
  margin: 0 1rem;
}

.nickname {
  font-family: "Lilita One", cursive;
  -webkit-text-stroke: 0.4px black;
}

.nickname:hover {
  cursor: default;
}

.nicknameCell {
  display: none;
}

.powersContainerP1,
.powersContainerP2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.powersContainerP2 {
  flex-direction: row-reverse;
  transform: translateX(12.5%);
}

.p1Powers,
.p2Powers,
.p1Empty,
.p2Empty {
  width: 18px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.p1Powers {
  background-color: rgb(76, 82, 197);
}

.p2Powers {
  background-color: rgb(173, 99, 40);
}

@media (max-width: 768px) {
  .card {
    width: min-content;
  }

  .avatarContainer {
    margin: 0 0.2rem;
  }

  .powersContainerP1,
  .powersContainerP2 {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    gap: 0.2rem;
  }

  .powersContainerP2 {
    justify-self: end;
  }

  .p1Powers,
  .p2Powers,
  .p1Empty,
  .p2Empty {
    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .p1Powers {
    background-color: rgb(76, 82, 197);
  }

  .p2Powers {
    background-color: rgb(173, 99, 40);
  }

  .nickname {
    display: none;
  }

  .nicknameCell {
    position: absolute;
    font-size: 1rem;
  }
}

/* .card {
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    text-align: center;
  }

  .infoContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .powersContainerP1,
  .powersContainerP2 {
    flex-direction: column;
    gap: 0.3rem;
  }

  .nickname {
    order: 2;
    margin-top: 0.5rem;
  } */
