.wordsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: auto; */
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.5rem 0;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
}

.word {
  font-family: "Lilita One", cursive;
  font-size: 1.4rem;
  color: white;
  -webkit-text-stroke: 2px black;
  text-align: center;
  text-transform: uppercase;
}

.me {
  color: #00b4ff;
}
.opponent {
  color: #f07d22;
}

@media (width >= 551px) {
  .wordsContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 3rem;
    gap: 0.5rem;
    padding: 1rem;
  }

  .word {
    font-size: 2.5rem;
  }
}
