.button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
  max-width: 200px;
  border: 5px solid transparent;
  font-family: "Lilita One", cursive;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.gamemodeEasy {
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
}
.gamemodeEasy:hover {
  border: 5px solid rgb(22, 133, 186);
}

.gamemodeNormal {
  background-color: rgb(21, 248, 29);
  border: 5px solid rgb(77, 255, 89);
  box-shadow: 0 6px 0 rgb(46, 138, 52);
}
.gamemodeNormal:hover {
  border: 5px solid rgb(0, 230, 17);
}

.gamemodeHard {
  background-color: rgb(142, 68, 173);
  border: 5px solid rgb(155, 89, 182);
  box-shadow: 0 6px 0 rgb(93, 55, 117);
}
.gamemodeHard:hover {
  border: 5px solid rgb(113, 59, 146);
}

.gamemodeInsane {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}
.gamemodeInsane:hover {
  border: 5px solid rgb(170, 47, 47);
}

.gamemodeCataclism {
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(50, 50, 50);
  box-shadow: 0 6px 0 rgb(30, 30, 30);
}
.gamemodeCataclism:hover {
  border: 5px solid rgb(80, 80, 80);
}

@media (width >= 551px) {
  .button {
    font-size: 1.7rem;
    height: 60px;
  }
}