.item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
 aspect-ratio: 1 / 1;   
 background: rgba(255, 255, 255, 0.4);
  border: 3px solid rgb(255, 0, 0);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  font-family: 'Lilita One', cursive;
   position: relative; 
    overflow: hidden;
}

.item:hover {
  transform: scale(1.05);
  
}

.enabled {
  border: 5px solid rgb(77, 255, 89);
}


.disabled {
filter: grayscale(80%); /* Deixa o item cinza */
    opacity: 0.8;}

.icon {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* MÁGICA: Faz a imagem se comportar como background-size: cover.
       Ela preenche o espaço sem distorcer, cortando o excesso. */
    object-fit: cover;
    
    z-index: 0;
}

.powerName {
   position: absolute;
    
    /* Truque para centralização perfeita na horizontal e vertical */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Garante que o nome fique na frente de tudo */
    
    margin: 0;
    padding: 0.2rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: max-content; /* Evita que o fundo se estique desnecessariamente */
    max-width: 90%;
}
