.avatar {
    width: 150px;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 3px 0 rgb(60, 60, 60);
    flex: 1 1 100px;
    aspect-ratio: 1 / 1;
}

.avatar:hover {
    border: 3px solid rgb(97, 97, 97);;
    cursor: pointer;
    transform: translateY(-2px);
}

.selected {
    border: 3px solid #3DB845;
    box-shadow: 0 3px 0 rgb(46, 138, 52);
}

.selected:hover {
    border: 3px solid #3DB845;
}