.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #222;
  padding: 0.7rem;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: min-content;
  height: min-content;
  animation: fadeIn 0.3s ease;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  white-space: nowrap;
  -webkit-text-stroke: 1px black;
}

.message {
  font-size: 1.5rem;
  opacity: 0.85;
  -webkit-text-stroke: 1.5px black;
}

.kick .title {
  color: #f39c12;
}

.ban .title {
  color: #e53935;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
