@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  user-select: none;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 4px solid white;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  padding: 2rem 1.5rem;
  width: 80%;
  max-width: 350px;
  animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.titleContainer {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
}

.title {
  font-family: "Lilita One", cursive;
  font-size: 1.8rem;
  color: white;
  -webkit-text-stroke: 1px black;
  margin: 0;
}

.message {
  font-family: "Lilita One", cursive;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px #464646;
  line-height: 1.4;
  margin: 0;
}

.okButton {
  width: 120px;
  height: 55px;
  border-radius: 1.5rem;
  border: none;
  font-family: "Lilita One", cursive;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.1s;

  background-color: rgb(27, 157, 222);
  border: 4px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
}

.okButton:hover {
  transform: translateY(-2px);
  border-color: rgb(22, 133, 186);
}

.okButton:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 rgb(57, 68, 148);
}

@media (width >= 551px) {
  .popup {
    padding: 2rem 0.5rem;
    max-width: 350px;
  }

  .title {
    font-size: 2.2rem;
  }

  .message {
    font-size: 1.6rem;
  }
}