.item {
  width: 70%;
  height: 70px;
  display: flex;
  border-radius: 1.3rem;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "Lilita One", cursive;
  -webkit-text-stroke: 1.5px black;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  overflow: hidden;
}

.avatar {
  margin: 0.4rem;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  border: 3px solid white;
}

.nickname {
  width: 5rem;
  font-size: 1rem;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width >= 551px) {
  .item {
    width: 70%;
    height: 70px;
  }

  .nickname {
    font-size: 1.8rem;
  }

  .avatar {
    width: 3.5rem;
  }
}