@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.item {
  width: 45%;
  height: 100%;
  display: flex;
  border-radius: 1.3rem;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "Lilita One", cursive;
  -webkit-text-stroke: 1.5px black;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  overflow: hidden;
}

.avatar {
  margin-left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 1.2rem;
  border: 3px solid white;
}

.nickname {
  width: 10ch;
  margin-right: 0.5rem;
  font-size: clamp(12px, 5vw, 30px);
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
}
