.playerList {
  width: 95%;
  height: 4rem;
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.empty {
  width: 70%;
  height: 70px;
  display: flex;
  border-radius: 1.3rem;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "Lilita One", cursive;
  -webkit-text-stroke: 1.5px black;
  outline: none;
  transition: transform 0.1s ease, border 0.2s ease;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
}

.empty:hover,
.empty:focus {
  border: 3px solid rgb(100, 100, 100);
  cursor: pointer;
  transform: translateY(-2px);
}

.emptyAvatar {
  margin: 0.4rem;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  border: 3px solid white;
  background: linear-gradient(45deg, #f39c12, #fabb54);
}

.emptyMessage {
  font-size: 1.2rem;
}

@media (width >= 551px) {
  .emptyMessage {
    font-size: 1.8rem;
  }

  .playerList {
    width: 90%;
    height: 4rem;
  }

  .emptyAvatar {
    width: 3.5rem;
  }
}
