.spectatorList {
  width: min-content;
  height: min-content;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 7px solid white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  gap: 1.5rem;
}

.empty {
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  border-radius: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lilita One", cursive;
  -webkit-text-stroke: 1.5px black;
  outline: none;
  background: linear-gradient(45deg, rgb(64, 176, 232), rgb(127, 212, 255));
  border: 3px solid white;
}

.empty:hover,
.empty:focus {
  border: 3px solid rgb(100, 100, 100);
  cursor: pointer;
  transform: translateY(-2px);
}

.avatar {
  margin-left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 1.2rem;
  border: 3px solid white;
}

@media (max-width: 768px) {
  .spectatorList {
    gap: 0.5rem
  }

  .empty {
    width: 2.7rem;
    border-radius: 1.15rem;
  }
}