.avatar {
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  border-radius: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lilita One", cursive;
  gap: 1rem;
  -webkit-text-stroke: 1.5px black;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
}

@media (width >= 551px) {
  .avatar {
    width: 3.5rem;
        border-radius: 1.15rem;
  }
}