.overlayLobby,
.overlayGame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  user-select: none;
  -webkit-user-select: none;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 0.2rem solid white;
  border-radius: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  overflow: hidden;
  margin: 0.5rem;
  width: 95%;
  max-width: 350px;
  height: 60vh;
  max-height: 450px;
  animation: slideInFromBottom 0.3s ease-out forwards;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.button,
.chatPlayers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 3rem;
  padding: 0;
  border-radius: 1.5rem;
  margin-bottom: 0.3rem;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
  flex-shrink: 0;
  box-sizing: border-box;
}

.button {
  background-color: rgb(240, 44, 38);
  border: 3px solid rgb(195, 60, 60);
  box-shadow: 0 4px 0 rgb(128, 53, 49);
}

.chatPlayers {
  font-family: "Lilita One", cursive;
  color: white;
  background-color: rgb(240, 125, 34);
  border: 3px solid rgb(255, 143, 55);
  box-shadow: 0 4px 0 rgb(148, 97, 57);
}

.button:hover,
.chatPlayers:hover {
  transform: translateY(-2px);
}

.button .icon {
  width: 30px;
}

.titleChat {
  font-size: 2.5rem;
  font-family: "Lilita One", cursive;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.space {
  min-width: 3.5rem;
  height: 3rem;
  padding: 0 1.7rem;
  box-sizing: border-box;
}

.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  gap: 0.3rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 3px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow-y: auto;
  box-sizing: border-box;
  justify-content: flex-end;
}

.messages::-webkit-scrollbar {
  width: 6px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.m {
  width: auto;
  max-width: 50%;
  font-size: 1.3rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #aaaaaa;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid white;
  overflow-wrap: break-word;
}

.me {
  color: rgb(27, 157, 222);
}

.others {
  color: rgb(240, 125, 34);
}

.my {
  align-self: end;
}

.sendContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 0.5rem;
  align-items: center;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.message {
  border-radius: 1.5rem;
  width: 100%;
  border: 3px solid white;
  background-color: #e0dfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  resize: none;
  padding: 0.6rem 1rem;
  overflow: hidden;
  font-size: 1rem;
  height: 3rem;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  outline: none;
  font-family: sans-serif;
}

.message:focus {
  border-color: rgb(27, 157, 222);
}

.send {
  width: 3rem;
  height: 2.5rem;
  flex-shrink: 0;
  margin-bottom: 0.3rem;
  border-radius: 2rem;
  background-color: rgb(27, 157, 222);
  border: 3px solid rgb(64, 176, 232);
  box-shadow: 0 4px 0 rgb(57, 68, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.send:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 rgb(57, 68, 148);
}

.icon {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.chatPlayers {
  height: 3rem;
  padding: 0 1.7rem;
}

.chatPlayers .icon {
  width: 28px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(108%) contrast(100%);
}

@media (width >= 551px) {
  .overlayGame {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
  }

  .popup {
    width: 24rem;
    height: 32rem;
    padding: 1rem;
    border-radius: 2rem;
    pointer-events: auto;
    margin: 2rem 2rem;
  }

  .titleChat {
    font-size: 2.5rem;
  }

  .button,
  .chatPlayers {
    width: 4.5rem;
    height: 2.8rem;
    padding: 0;
    border-radius: 2rem;
    box-shadow: 0 6px 0 rgb(128, 53, 49);
  }

  .chatPlayers {
    box-shadow: 0 6px 0 rgb(148, 97, 57);
    font-size: 1.7rem;
  }

  .button .icon {
    width: 45px;
  }

  .chatPlayers .icon {
    width: 35px;
  }

  .space {
    width: 4.5rem;
    padding: 0;
  }

  .messages {
    border-radius: 1rem;
    border: 5px solid white;
  }

  .m {
    font-size: 1.3rem;
    max-width: 70%;
  }

  .sendContainer {
    gap: 1rem;
  }

  .message {
    border-radius: 2rem;
    font-size: 1.3rem;
    height: 3.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .send {
    width: 4.5rem;
    height: 2.8rem;
    border-radius: 2rem;
    box-shadow: 0 6px 0 rgb(57, 68, 148);
  }

  .send:hover {
    transform: translateY(-2px);
  }

  .send .icon {
    width: 30px;
  }
}
