@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  gap: 1rem;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  padding: 1rem 0.5rem;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 3.5rem;
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
  border-radius: 3rem;
}

.title {
  font-size: clamp(1.5rem, 4em, 2.1rem);
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.label {
  font-size: 1rem;
  color: white;
  -webkit-text-stroke: 1px #464646;
}

.labelName {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 0.5rem;
}

.input {
  width: 90%;
  background-color: white;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: 2px solid #ccc;
  outline: none;
  font-size: 0.9rem;
  text-align: center;
  box-sizing: border-box;
}

.input:focus {
  border: 2px solid rgb(255, 143, 55);
  opacity: 1;
  color: black;
}

.rangeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 85%;
  justify-content: center;
  align-items: center;
}

.range {
  width: 70%;
  cursor: pointer;
}

.range:focus,
.range:hover {
  outline: none;
}

.timer {
  font-size: 1.2rem;
  color: white;
  -webkit-text-stroke: 1px black;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  background-color: rgb(240, 125, 34);
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 0 6px 0 rgb(148, 97, 57);
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.settings:hover {
  transform: translateY(-2px);
  border: 5px solid rgb(253, 114, 0);
}

.switchs {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0.9rem;
}

.switchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.switchBall {
  flex: 0 0 30px;
  height: 30px;
  border-radius: 12px;
  background-color: white;
  border: 4px solid transparent;
  transition: border 0.3s ease;
}

.switchText {
  flex: 1;
  text-align: center;
}

.on {
  background-color: rgb(21, 248, 29);
  border: 4px solid #3db845;
  box-shadow: 0 5px 0 rgb(46, 138, 52);
  color: white;
  flex-direction: row-reverse;
}
.on .switchBall {
  border-color: #3db845;
}

.off {
  background-color: rgb(240, 44, 38);
  border: 4px solid rgb(195, 60, 60);
  box-shadow: 0 5px 0 rgb(128, 53, 49);
  color: white;
  flex-direction: row;
}
.off .switchBall {
  border-color: rgb(195, 60, 60);
}

.textOn,
.textOff {
  font-size: 1.3rem;
}
.textOn {
  margin-left: 0.5rem;
}
.textOff {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1rem 0.5rem 0.5rem;
}

.button {
  width: 45%;
  flex: none;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0;
  font-weight: bold;
  font-size: clamp(15px, 6vw, 17px);
  white-space: nowrap;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.icon {
  margin-left: 0.6rem;
  width: 2rem;
}

.iconButtonBack {
  width: 3rem;
}

.icon1 {
  width: 2.5rem;
}

.create {
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
}
.create:hover {
  border: 5px solid rgb(22, 133, 186);
}

.back {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}
.back:hover {
  border: 5px solid rgb(170, 47, 47);
}

.loading {
  background-color: gray;
  border: 5px solid #555;
  box-shadow: 0 6px 0 #333;
  cursor: not-allowed;
}

@media (width >= 551px) {
  .container {
    gap: 0;
  }

  .card {
    padding: 1rem;
    gap: 1rem;
  }

  .titleContainer {
    height: 5rem;
  }

  .iconButtonBack {
    width: 3rem;
    margin-left: 1.5rem;
  }
  .title {
    font-size: clamp(1.5rem, 5em, 2.8rem);
  }

  .label {
    font-size: 1.8rem;
    -webkit-text-stroke: 1.5px #464646;
  }

  .labelName {
    font-size: 2rem;
  }

  .input {
    font-size: 1rem;
    margin-top: 0;
  }

  .rangeContainer {
    width: 80%;
  }

  .timer {
    font-size: 1.5rem;
  }

  .settings {
    width: 100px;
    height: 60px;
    border-radius: 20px;
  }

  .switchs {
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
  }

  .switch {
    width: 100px;
    height: 50px;
    border-radius: 20px;
  }

  .switchBall {
    flex: 0 0 40px;
    height: 40px;
    border-width: 5px;
  }

  .on {
    border-width: 5px;
    box-shadow: 0 6px 0 rgb(46, 138, 52);
  }
  .off {
    border-width: 5px;
    box-shadow: 0 6px 0 rgb(128, 53, 49);
  }

  .textOn,
  .textOff {
    font-size: 1.8rem;
  }
  .textOn {
    margin-left: 1rem;
  }
  .textOff {
    margin-right: 1.5rem;
  }

  .buttons {
    justify-content: space-between;
    gap: 1.5rem;
    width: 90%;
    margin: 1.5rem 0.5rem 1.5rem;
  }

  .button {
    width: auto;
    height: 60px;
    flex: 1 1 45%;
    font-size: clamp(20px, 6vw, 25px);
  }

  .icon {
    margin-left: 1.5rem;
    width: 2rem;
  }

  .icon1 {
    width: 3rem;
  }
}
