.footer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.devs {
  align-self: center;
}

.dev {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 5px;
}

.dev p {
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 4ch;
  -webkit-text-stroke: 1px black;
}

a img {
  width: 20px;
  filter: invert();
}

a:hover {
  transform: scale(1.1);
  filter: opacity(0.5);
}

.logo {
  width: 5rem;
  justify-self: center;
  align-self: center;
}

.version {
  font-size: 1.3rem;
  justify-self: end;
  align-self: flex-end;
  margin: 0 0.5rem 0.2rem 0;
}

@media (max-width: 768px) {
  .footer {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 0;
  }

  .logo {
    width: 8rem;
    justify-self: center;
    align-self: center;
  }

  .devs {
    grid-row: 2 / 3;
    justify-self: center;
  }

  .version {
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
  }

  .dev {
    gap: 0.5rem;
  }
}
