@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container {
    width: auto;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lilita One', cursive;
    box-sizing: border-box;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 12px rgba(0,0,0,0.7);
    overflow: hidden;
}

.logo {
    width: 175px;
    aspect-ratio: 1 / 1;
}

.game {
    display: flex;
    gap: 3rem;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}