@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  overflow-y: auto;
  gap: 2rem;
  position: relative;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin-bottom: 5vh;
}

.logo {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
}

.inputs {
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
  -webkit-text-stroke: 1.5px #464646;
  margin-top: -1rem;
}

.avatar {
  width: 80px;
  aspect-ratio: 1 / 1;
  border: 3px solid white;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 0 rgb(60, 60, 60);
  margin-left: 1rem;
}

.avatar:hover,
.avatar:focus {
  border: 3px solid rgb(202, 202, 202);
  transform: translateY(-2px);
  cursor: pointer;
}

.input {
  width: 100%;
  max-width: 100%;
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 3px solid #ccc;
  outline: none;
  text-align: center;
  box-sizing: border-box;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  height: 3rem;
  transition: border-color 0.2s ease;
}

.input:focus {
  border: 3px solid rgba(0, 0, 0, 0.4);
  opacity: 1;
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 0;
  flex-wrap: nowrap;
  margin: 1.5rem 0.5rem 1.5rem;
}

.button {
  width: 45%;
  flex: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  border: none;
  border-radius: 2rem;
  padding: 0;
  font-weight: bold;
  font-size: clamp(15px, 6vw, 17px);
  white-space: nowrap;
  color: white;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.icon {
  margin-left: 0.3rem;
  width: 1.8rem;
}

.iconMenuButton {
  margin: 0;
}

.create {
  background-color: rgb(240, 125, 34);
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 0 6px 0 rgb(148, 97, 57);
}

.create:hover {
  border: 5px solid rgb(253, 114, 0);
}

.enter {
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
}

.enter:hover {
  border: 5px solid rgb(22, 133, 186);
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;  
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 0 rgba(0,0,0,0.2); 
}

.menu img {
  filter: invert(1);
  width: 100%;
  height: auto;
}

.menu:hover {
  transform: translateY(-2px);
  border: 3px solid white; 
  background: rgba(255, 255, 255, 0.3);
}

.menu:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

@media (width >= 551px) {
  
  .container {
    gap: 0;
  }

  .card {
    margin-bottom: 10vh;
  }

  .label {
    font-size: 2rem;
  }

  .avatar {
    margin-left: 0;
  }
  
  .buttons {
    justify-content: space-between;
    gap: 1.5rem;
    margin: 2rem 2rem 2.5rem;
  }

  .button {
    flex: 1 1 45%;
    width: auto;
    font-size: clamp(20px, 6vw, 25px);
  }

  .icon {
    margin-left: 1.5rem;
    width: 2rem;
  }

  .inputs {
    margin-right: 0;
  }
  
  .menu {
    display: none;
  }

  .logo {
  max-width: 350px;
}
}