@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  background: linear-gradient(90deg, rgb(240, 125, 34), rgb(27, 157, 222));
}

.loading {
  font-size: 5rem;
  white-space: nowrap;
  -webkit-text-stroke: 2px black;
  color: white;
}
