@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.container {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lilita One', cursive;
    box-sizing: border-box;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 3px solid white;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    justify-content: center;
}

.label {
    font-size: 2rem;
    margin-bottom: 0;
    color: white;
    -webkit-text-stroke: 1.5px #464646;
    margin-top: 0;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.settings, .chat {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(21, 248, 29);
    border: 0.2rem solid rgb(77, 255, 89);
    padding: 0;
    border-radius: 0.75rem;
    box-shadow: 0 0.2rem 0 rgb(46, 138, 52);
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    transform: translateY(0.3rem);
    outline: none;
}

.settings:hover, .chat:hover {
  border: 0.2rem solid rgb(0, 230, 17);
  transform: translateY(2px);
}

.icons {
  color: white;
  width: 80%;
}

.codecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: rgb(27, 157, 222);
    border: 5px solid rgb(64, 176, 232);
    box-shadow: 0 6px 0 rgb(57, 68, 148);
    border-radius: 3rem;
}

.code {
    font-size: clamp(1.5rem, 5em, 2.8rem);
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.players, .spectators {
    height: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.button {
    flex: 1 1 45%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border: none;
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
    outline: none;
}

.button:hover, .button:focus {
    transform: translateY(-2px);
}

.icon {
    margin-right: 0.8rem;
    font-size: 1.4rem;
}

.play {
    background-color: rgb(240, 125, 34);
    border: 5px solid rgb(255, 143, 55);
    box-shadow: 0 6px 0 rgb(148, 97, 57);
}

.play:hover {
    border: 5px solid rgb(253, 114, 0);
}

.back {
    background-color: rgb(240, 44, 38);
    border: 5px solid rgb(195, 60, 60);
    box-shadow: 0 6px 0 rgb(128, 53, 49);
}

.back:hover {
    border: 5px solid rgb(170, 47, 47);
}