.container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  padding: 1rem 0.5rem;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: white;
  -webkit-text-stroke: 1px #464646;
  margin-top: 0;
}

.top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 100%;
}

.settings,
.chat {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 3.3rem;
  padding: 0;
  border-radius: 0.6rem;
  background-color: rgb(21, 248, 29);
  border: 0.2rem solid rgb(77, 255, 89);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  outline: none;
  position: relative;
}

.settings:hover,
.chat:hover {
  transform: scale(1.05);
}

.icons {
  color: white;
  width: 70%;
}

.iconButtonBack {
  width: 2.6rem;
  margin-left: 0.3rem;
  margin-right: 0.7rem;
}

.codecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 0 1.5rem;
  height: 3rem;
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
  border-radius: 2rem;
}

.code {
  font-size: clamp(1.5rem, 6vw, 2.2rem);
  color: white;
  white-space: nowrap;
  -webkit-text-stroke: 0.5px black;
}

.space {
  width: 2rem;
}

.players,
.spectators {
  height: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1rem 0 0.3rem;
}

.button {
  width: 45%;
  flex: none;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 2rem;
  padding: 0;
  font-weight: bold;
  font-size: clamp(15px, 6vw, 17px);
  white-space: nowrap;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  gap: 0.5rem;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.icon {
  margin-left: 0.6rem;
  margin-right: 0.7rem;
  width: 2rem;
}

.labelPlayer {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.labelSpectator {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.play {
  background-color: rgb(240, 125, 34);
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 0 6px 0 rgb(148, 97, 57);
}
.play:hover {
  border: 5px solid rgb(253, 114, 0);
}

.disabled {
  gap: 0.5rem;
  background-color: rgb(130, 130, 130);
  border: 5px solid rgb(91, 91, 91);
  box-shadow: 0 6px 0 rgb(44, 44, 44);
}
.disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
}

.back {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}
.back:hover {
  border: 5px solid rgb(170, 47, 47);
}

.notificationDot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #ff3b30;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (width >= 551px) {
  .card {
    padding: 1rem;
    width: min(90%, 450px);
    max-height: 85vh;
  }

  .label {
    font-size: 2rem;
    -webkit-text-stroke: 1.5px #464646;
  }

  .settings,
  .chat {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    transform: translateY(0.3rem);
  }

  .icons {
    width: 80%;
  }

  .codecontainer {
    padding: 0 3rem;
    height: 4rem;
    border-radius: 3rem;
  }

  .iconButtonBack {
    width: 3rem;
    margin-right: 1rem;
  }

  .code {
    font-size: 2.8rem;
    -webkit-text-stroke: 0.5px black;
  }

  .space {
    width: 4rem;
  }

  .players,
  .spectators {
    margin-top: 1.5rem;
  }

  .buttons {
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin: 1rem auto;
  }

  .button {
    flex: 1 1 45%;
    width: auto;
    height: 55px;
    font-size: clamp(20px, 6vw, 25px);
    border-radius: 2rem;
  }

  .icon {
    width: 2rem;
  }

  .notificationDot {
    top: -6px;
    right: -7px;
    width: 20px;
    height: 20px;
  }
  .buttons .button:only-child {
    height: 60px;
    flex: 0 0 50%;
    width: auto;
    margin: 0 auto;
  }

  .labelPlayer {
    font-size: 1.8rem;
  }

  .labelSpectator {
    font-size: 1.8rem;
  }

  .play {
    gap: 0.5rem;
  }
}
