@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", cursive;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  border: 3px solid white;
  padding: 1rem 0.5rem;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titleRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-radius: 3rem;
  position: relative;
  background-color: rgb(21, 248, 29);
  border: 5px solid rgb(77, 255, 89);
  box-shadow: 0 6px 0 rgb(46, 138, 52);
  height: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 0;
  color: white;
  -webkit-text-stroke: 0.5px black;
  margin-top: 0rem;
}

.title:hover {
  cursor: default;
}

.refresh {
  background: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  outline: none;
  position: absolute;
  right: 15px;
  padding: 0;
}

.refresh:hover {
  transform: scale(1.1);
}

.iconRefresh,
.updating {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 1px 0 black) drop-shadow(1px 1px 0 black)
    drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black);
  will-change: transform;
}

.updating {
  animation: refreshAnimation 1s ease-in-out infinite;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.button {
  width: 45%;
  flex: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 2rem;
  padding: 0 0.5rem;
  font-size: clamp(16px, 5vw, 20px);
  font-weight: bold;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.button:hover,
.button:focus {
  transform: translateY(-2px);
}

.icon {
  margin-left: 1rem;
  padding: 0;
  width: 1.8rem;
}

  .iconBack {
    width: 2.5rem;
    margin-left: 0.5rem;
  }

.code {
  background-color: rgb(240, 125, 34);
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 0 6px 0 rgb(148, 97, 57);
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
}

.code:hover,
.spectator:hover {
  border: 5px solid rgb(253, 114, 0);
}

.back {
  background-color: rgb(240, 44, 38);
  border: 5px solid rgb(195, 60, 60);
  box-shadow: 0 6px 0 rgb(128, 53, 49);
}
.back:hover {
  border: 5px solid rgb(170, 47, 47);
}

.enter {
  background-color: rgb(27, 157, 222);
  border: 5px solid rgb(64, 176, 232);
  box-shadow: 0 6px 0 rgb(57, 68, 148);
}
.enter:hover {
  border: 5px solid rgb(22, 133, 186);
}

.spectator {
  background-color: rgb(240, 125, 34);
  border: 5px solid rgb(255, 143, 55);
  box-shadow: 0 6px 0 rgb(148, 97, 57);
}

@keyframes refreshAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: scale(5deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

@media (width >= 551px) {
  .card {
    padding: 1rem 0;
  }

  .titleRow {
    width: 85%;
    height: auto;
    padding: 0.5rem;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .iconRefresh,
  .updating {
    width: 45px;
    height: 45px;
  }

  .buttons {
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin-left: 0;
  }

  .button {
    flex: 1 1 45%;
    height: 57px;
    font-size: clamp(20px, 6vw, 25px);
    padding: 0 0.5rem;
  }

  .icon {
    margin-left: 2rem;
    width: 2rem;
  }

  .iconBack {
    width: 3rem;
    margin-left: 1rem;
  }

  .code {
    width: 45%;
    padding: 12px;
  }
}
